title='Anfahrt'
template='index.jade'

a(href='images/radisson_1.jpg', rel='lightbox[radisson]')
	img.floatr(src='images/radisson_1_thumb.jpg', alt='Sitzungssaal im Radisson Blu Hotel')

h2 Veranstaltungsort

p(style='font-size:1.2em;')
	strong Radisson Blu F&uuml;rst Leopold Hotel
	br
	| Friedensplatz 1
	br
	| 06844 Dessau-Ro&szlig;lau
	br

h2 Barrierefreiheit

p Der Plenarsaal ist ebenerdig. Von der Straße bis in den Zuschauerraum gibt es keinerlei Stufen. Ein behindertengerechtes WC ist gleich neben dem Plenarsaal. Einzig das Podium ist mit 30-40cm Höhe und ohne Rampe nicht barrierefrei. Laut Hotel fährt vom Parkhaus ein Fahrstuhl. Der Plenarsaal ist über drei große Seitentüren zugänglich. Somit kann auch bei enger Bestuhlung durch entsprechende Einrichtung der Sitzplätze eine Barrierefreiheit in der Nähe des Podiums bzw. an beliebiger Stelle geleistet werden. 

h2 Anfahrtsskizze

iframe.cframe(width='600', height='350', src='http://www.openstreetmap.org/export/embed.html?bbox=12.23194,51.83523,12.24315,51.84092&amp;layer=mapnik&amp;marker=51.83788,12.23756')
br
small
	a(href='http://www.openstreetmap.org/?lat=51.838075&amp;lon=12.237545&amp;zoom=16&amp;layers=M&amp;mlat=51.83788&amp;mlon=12.23756') Gr&#246;&#223;ere Karte anzeigen
