---
title: 'Anfahrt'
template: index.jade
---

a(href='images/radisson_1.jpg', rel='lightbox[radisson]')
	img.floatr(width='250', src='images/radisson_1_thumb.jpg', alt='Sitzungssaal im Radisson Blu Hotel')

h2 Veranstaltungsort

p(style='font-size:1.2em;')
	strong Radisson Blu F&uuml;rst Leopold Hotel
	br
	| Friedensplatz 1
	br
	| 06844 Dessau-Ro&szlig;lau
	br

h2 Barrierefreiheit

p Der Plenarsaal ist ebenerdig. Von der Straße bis in den Zuschauerraum gibt es keinerlei Stufen. Ein behindertengerechtes WC ist gleich neben dem Plenarsaal. Einzig das Podium ist mit 30-40cm Höhe und ohne Rampe nicht barrierefrei. Laut Hotel fährt vom Parkhaus ein Fahrstuhl. Der Plenarsaal ist über drei große Seitentüren zugänglich. Somit kann auch bei enger Bestuhlung durch entsprechende Einrichtung der Sitzplätze eine Barrierefreiheit in der Nähe des Podiums bzw. an beliebiger Stelle geleistet werden.

h2 Anreise

h3 mit dem Auto

a(href='images/karte-lpt-lsa-2014-1.png', rel='lightbox[radisson]')
	img.floatr(width='250', src='images/karte-lpt-lsa-2014-1_thumb.png', alt='Übersichtskarte Dessau')

ul
	li
		a(href='http://goo.gl/maps/AEpT6') Aus Magdeburg über A14 - 78km
	li
		a(href='http://goo.gl/maps/aO75K') Aus Magdeburg über Zerbst - 61km
	li
		a(href='http://goo.gl/maps/09pKQ') Aus Halle - 68km
	li
		a(href='http://goo.gl/maps/zujVV') Aus Wittenberg - 35km
	li
		a(href='http://goo.gl/maps/s0RCp') Aus dem Salzland (Aschersleben) - 63km
	li
		a(href='http://goo.gl/maps/0wQid') Aus dem Harz (Wernigerode) - 114km
	li
		a(href='http://goo.gl/maps/6xnFR') Aus der Altmark (Stendal) - 125km
	li
		a(href='http://goo.gl/maps/di7c3') Aus der Altmark (Salzwedel) - 163km
	li
		a(href='http://goo.gl/maps/70Dll') Aus Nebra (BLK) - 113km
	li
		a(href='http://goo.gl/maps/92MKQ') Aus Bröckau (BLK) - 113km

h3 mit dem Zug

ul
	li Ankunft Dessau Rosslau Hauptbahnhof
	li Ausgang Ost (Innenstadt)
	li Das große Gebäude rechts 9 Uhr (siehe Karte)

h2 Karte

iframe.cframe(width='600', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://www.openstreetmap.org/export/embed.html?bbox=12.228566408157349%2C51.83496208011945%2C12.246483564376831%2C51.84067648117134&amp;layer=mapnik&amp;marker=51.83781937129939%2C12.23752498626709')
br
small
	a(href='http://www.openstreetmap.org/?mlat=51.83782&amp;mlon=12.23752#map=17/51.83782/12.23752') Gr&#246;&#223;ere Karte anzeigen



