title='Banner'
template='index.jade'

h2 langer Banner (468x60)

p
	a(href='/images/lpt2013.2_lang.png')
		img(src='/images/lpt2013.2_lang.png', alt='außerordentlicher Landesparteitag 2013.2 des Landesverbandes Sachsen-Anhalt am 08.06.2013 in Dessau')

p
	textarea(cols='70', rows='4')
		<a href="http://lpt.piraten-lsa.de/images/lpt2013.2_lang.png"><img src="http://lpt.piraten-lsa.de/images/lpt2013.2_lang.png" alt="außerordentlicher Landesparteitag 2013.2 des Landesverbandes Sachsen-Anhalt am 08.06.2013 in Dessau"/></a>

h2 schmaler Banner (320x100)

p
	a(href='/images/lpt2013.2_schmal.jpg')
		img(src='/images/lpt2013.2_schmal.jpg', alt='außerordentlicher Landesparteitag 2013.2 des Landesverbandes Sachsen-Anhalt am 08.06.2013 in Dessau')

p
	textarea(cols='70', rows='4')
		<a href="http://lpt.piraten-lsa.de/images/lpt2013.2_schmal.jpg"><img src="http://lpt.piraten-lsa.de/images/lpt2013.2_schmal.jpg" alt="außerordentlicher Landesparteitag 2013.2 des Landesverbandes Sachsen-Anhalt am 08.06.2013 in Dessau"/></a>
