---
title: 'Impressum & Kontakt'
template: index.jade
---

h2 Kontakt

p Bei Fragen und Anliegen rund um den Landesparteitag wende dich bitte an 
p
	strong vorstand (at) piraten-lsa (punkt) de

h2 Impressum

p Dienstanbieter dieser Seite ist die Piratenpartei Deutschland Landesverband Sachsen-Anhalt vertreten durch die Vorsitzende Anne Funke.

p
	| Ladungsfähige Anschrift gem&auml;&szlig; TMG:
	br
	| Piratenpartei Deutschland Landesverband Sachsen-Anhalt
	br
	| z.Hd. Anne Funke
	br
	| Pflugstraße 9a
	br
	| 10115 Berlin
	br

p E-Mail: vorstand (at) piraten-lsa (punkt) de
br

h2 Bildmaterial

p Das auf der Seite &quot;Verpflegung &amp; &Uuml;bernachtung&quot; verwendete Foto wurde von 
	a(href='http://piratpix.com/', class='p') Tobias M. Eckrich
	|	 zur Verf&uuml;gung gestellt und steht unter 
	a.p(href='http://creativecommons.org/licenses/by/3.0/de/') CC-BY-Lizenz
	| .
