title='Impressum & Kontakt'
template='index.jade'

h2 Kontakt

p Bei Fragen und Anliegen rund um den Landesparteitag wende dich bitte an 
	strong vorstand@piraten-lsa.de
	| .

h2 Impressum

p Dienstanbieter dieser Seite ist die Piratenpartei Deutschland Landesverband Sachsen-Anhalt vertreten durch die Vorsitzende Tina Otten.

p
	| Ladungsfähige Anschrift gemäß TMG:
	br
	| Piratenpartei Deutschland Landesverband Sachsen-Anhalt
	br
	| z.Hd. Tina Otten
	br
	| Pflugstraße 9a
	br
	| 10115 Berlin
	br

p E-Mail: vorstand (at) piraten-lsa.de
br

h2 Bildmaterial

p Die auf dieser Seite verwendeten Fotos wurden von 
	a(href='http://piratpix.com/', class='p') Tobias M. Eckrich
	|	 zur Verfügung gestellt und stehen unter 
	a(href='http://creativecommons.org/licenses/by/3.0/de/', class='p') CC-BY-Lizenz
	| .
