---
title: 'Hauptseite'
template: index.jade
---

a.twitter-timeline(data-dnt='true', href='https://twitter.com/search?q=%23lptlsa', data-widget-id='305297653615443968') Tweets über "#lptlsa"
script(type='text/javascript')
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

h2 Eckdaten
p
	strong Datum:
	|  23. November 2013
	br
	strong Akkreditierung:
	|  ab 9 Uhr
	br
	strong Beginn:
	|  ab 10 Uhr
	br

h3 Veranstaltungsort:
p
	strong Wiesenhaus Eisleben
	br
	| Lindenallee 32
	br
	| 06295 Lutherstadt Eisleben
	br

h2 Was passiert auf der Veranstaltung?
p Auf diesem Landesparteitag wird das Schiedsgericht, der Finanzrat und evtl. der Vorstand neugewählt sowie Satzungsänderungs- und Programmanträge behandelt.
p Ob der Vorstand neugewählt wird, hängt von dem Ausang einiger Satzungsänderungsantrage und einer anschließendeb Abstimmung auf dem Landesparteitag ab.

h2 Externe Medien
p.extern
	//- a(href='')
		img(src='images/stream.png', alt='Livestream')
		| Livestream
	a(href='http://wiki.piratenpartei.de/LSA:Landesverband/Organisation/Mitgliederversammlung/2013.3')
		img(src='images/wikisymbol.png', alt='Wikiseite')
		| Wikiseite
