---
title: 'Hauptseite'
template: index.jade
---

h2 Eckdaten
p
	strong Datum:
	|  12. Juli 2014
	br
	strong Akkreditierung:
	|  ab 9 Uhr
	br
	strong Beginn:
	|  ab 10 Uhr
	br

h3 Veranstaltungsort:
p
	strong Radisson Blu
	br
	| Friedensplatz 1
	br
	| 06844 Dessau
	br

h2 Was passiert auf der Veranstaltung?
p Auf diesem Landesparteitag wird der Vorstand neugew채hlt, ein Richter des Schiedsgerichts nachgew채hlt sowie Satzungs채nderungs- und Programmantr채ge behandelt.

h2 Externe Medien
p.extern
	//a(href='/stream.html')
	//	img(src='images/stream.png', alt='Livestream')
	//	| Livestream
	a(href='http://wiki.piratenpartei.de/LSA:Landesverband/Organisation/Mitgliederversammlung/2014.1')
		img(src='images/wikisymbol.png', alt='Wikiseite')
		| Wikiseite
	a(href='http://lptfabrik.piraten-lsa.de')
		img(src='images/antragsfabrik.png', alt='Antragsfabrik')
		| Antragsfabrik
	a(href='LSA_LPT_2014-1_Antragsbuch.pdf')
		img(src='images/antragsbuch.png', 'Antragsbuch')
		| Antragsbuch
