title='Hauptseite'
template='index.jade'

h2 Eckdaten
p
	strong Datum:
	|  9. und 10. März 2013
	br
	strong Akkreditierung:
	|  ab 9 Uhr
	br
	strong Beginn:
	|  ab 10 Uhr
	br

h3 Veranstaltungsort:
p
	strong Radisson Blu Fürst Leopold Hotel Dessau
	br
	| Friedensplatz 1
	br
	| 06844 Dessau-Rosslau
	br

h2 Was passiert auf der Veranstaltung?
p Am Samstag, dem 9. März, findet die Aufstellungsversammlung für die Landesliste zur Bundestagswahl statt und am Sonntag, dem 10. März, findet der Landesparteitag mit Abstimmung der Programmanträge statt.

h2 Aktion
p Es wird am Samstag in Dessau eine Menschenkette gegen den stattfindenden Naziaufmarsch geben. Wir bitten alle Teilnehmer der Aufstellungsversammlung mitzumachen.

h2 Externe Medien
p.extern
	a(href='#')
		img(src='stream.png', alt='Livestream')
		| Livestream
	a(href='http://wiki.piratenpartei.de/LSA:Landesverband/Organisation/Mitgliederversammlung/2013.1/Antragsfabrik')
		img(src='antragsfabrik.png', alt='Antragsportal')
		| Antragsportal
	a(href='http://wiki.piratenpartei.de/LSA:Landesverband/Organisation/Mitgliederversammlung/2013.1')
		img(src='wikisymbol.png', alt='Wikiseite')
		| Wikiseite
	a(href='http://www.youtube.com/playlist?list=PLZKw8q9eDPxgdM8dWdnHSujC3NtezwN82')
		img(src='youtube.png', alt='YouTube')
		| YoutTube
