---
title: 'Hauptseite'
template: index.jade
---

a.twitter-timeline(data-dnt='true', href='https://twitter.com/search?q=%23lptlsa', data-widget-id='305297653615443968') Tweets über "#avlsa"
script(type='text/javascript')
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

h2 Eckdaten
p
	strong Datum:
	|  29. Juni 2013
	br
	strong Akkreditierung:
	|  ab 9 Uhr
	br
	strong Beginn:
	|  ab 10 Uhr
	br

h3 Veranstaltungsort:
p
	strong Radisson Blu Fürst Leopold Hotel Dessau
	br
	| Friedensplatz 1
	br
	| 06844 Dessau-Rosslau
	br

h2 Was passiert auf der Veranstaltung?
p Am Samstag, den 29. Juni 2013, findet der außerordentliche Landesparteitag statt. Dort wird nur der Vorstand und die Kassenprüfer neugewählt

h2 Externe Medien
p.extern
	a(href='http://www.piraten-streaming.de/?page_id=688&id=1088')
		img(src='images/stream.png', alt='Livestream')
		| Livestream
	a(href='http://wiki.piratenpartei.de/LSA:Landesverband/Organisation/Mitgliederversammlung/2013.2')
		img(src='images/wikisymbol.png', alt='Wikiseite')
		| Wikiseite
