title='Informationen'
template='index.jade'

h2 Anträge

p
  | Die Ergebnisse der Anträge zum Landesparteitag befinden sich auf der 
  a(href='http://wiki.piratenpartei.de/LSA:Landesverband/Organisation/Mitgliederversammlung/2013.1/Ergebnisse') Ergebnisseite im Piratenwiki
  | .


h2 Zweiter Wahlgang

table.ergebnisse
  tr
    th Platz
    th Name
    th Gesamt
  tr
    td 1
    td.kandidat Sandra Tiedtke
    td 135
  tr
    td 2
    td.kandidat Stephan Schurig
    td 114
  tr
    td 3
    td.kandidat Anne Funke
    td 113
  tr
    td 4
    td.kandidat Andreas Breitschu
    td 108
  tr
    td 5
    td.kandidat Manfred Jakob Dott
    td 91
  tr
    td 6
    td.kandidat Roman Ladig
    td 83
  tr
    td 7
    td.kandidat Dominik Philipp Wondrousch
    td 78
  tr
    td 8
    td.kandidat Thomas Hübner
    td 76
  tr
    td 9
    td.kandidat Christian Kunze
    td 68

h2 Erster Wahlgang

table.ergebnisse
  tr
    th Name
    th Ja
    th Nein
    th Enthaltung
  tr
    td.kandidat Stephan Schurig
    td(style='background-color: lightgreen') 34
    td 9
    td 3
  tr
    td.kandidat Richard Josef Schmid
    td 10
    td(style='background-color: red') 33
    td 3
  tr
    td.kandidat Markus Hünniger
    td 7
    td(style='background-color: red') 38
    td 1
  tr
    td.kandidat Dominik Philipp Wondrousch
    td(style='background-color: lightgreen') 27
    td 18
    td 1
  tr
    td.kandidat Veit Wagner
    td 5
    td(style='background-color: red') 39
    td 2
  tr
    td.kandidat Manfred Jakob Dott
    td(style='background-color: lightgreen') 26
    td 16
    td 4
  tr
    td.kandidat Christian Kunze
    td(style='background-color: lightgreen') 27
    td 16
    td 3
  tr
    td.kandidat Sandra Tiedtke
    td(style='background-color: lightgreen') 35
    td 9
    td 2
  tr
    td.kandidat Roman Ladig
    td(style='background-color: lightgreen') 28
    td 15
    td 3
  tr
    td.kandidat Thomas Hübner
    td(style='background-color: lightgreen') 22
    td 18
    td 6
  tr
    td.kandidat Andreas Breitschu
    td(style='background-color: lightgreen') 34
    td 10
    td 2
  tr
    td.kandidat Sigurd Schauer
    td 11
    td(style='background-color: red') 30
    td 5
  tr
    td.kandidat Anne Funke
    td(style='background-color: lightgreen') 34
    td 9
    td 3
