---
title: 'Presse'
template: index.jade
---

h2 Presseakkreditierung

p Sehr geehrte Pressevertreter,
	br
	br
	| wir laden Sie herzlich zur Aufstellungsversammlung sowie Landesparteitag der PIRATEN Sachsen-Anhalt am 19. Juni 2013 in das Radisson Blu F&uuml;rst Leopold Hotel, Friedensplatz 1, 06844 Dessau-Ro&szlig;lau ein.

p
	strong Die Presseakkreditierung ist jederzeit möglich (frühstens ab 9:00 Uhr).

p Die Pressemappe zum Landesparteitag finden Sie hier als Download:

p.extern
	a(href='pressemappe_lsa.pdf')
		img(src='images/pdf.png', alt='PDF Logo')
		| Pressemappe
br

h2 Service für Journalisten

p Sie haben Fragen zum Landesparteitag, zur Piratenpartei, dem Landesverband Sachsen-Anhalt oder benötigen Bildmaterial? Dann kontaktieren Sie uns einfach telefonisch oder per E-Mail:

p
	| Telefon: 0151/25868014 (Steven Kollmorgen)
	br
	| E-Mail: presse@piraten-lsa.de
	br

h3 Postanschrift:

p
	| Piratenpartei Sachsen-Anhalt
	br
	| Postfach 320216
	br
	| 39041 Magdeburg
	br
