title='Hauptseite'
template='index.jade'

h2 vorläufige Tagesordnung

ul
	li Akkreditierung ab 9 Uhr
	li Beginn der Versammlung ab 10 Uhr
	li TOP 1: Begrüßung durch den kommissarischen Landesvorstand.
	li TOP 2: Wahl der Versammlungsämter, Zulassung von Presse, Gästen, Ton- und Filmaufnahmen und evtl. Gastreden.
	li TOP 3: Beschluss der Tages- und Geschäftsordnung
	li TOP 4: Berichte der Rechnungsprüfer und Sonstige
	li TOP 5: Tätigkeitsberichte und Entlastung des alten Landesvorstandes
	li TOP 6: Wahl des neuen Landesvorstandes
	li TOP 7: Wahl der Rechnungsprüfer
	li TOP 8: Wahl des Finanzrates
	li TOP 9: Schließung des Parteitages
	li ca. 18 Uhr Ende 
