---
title: 'Hauptseite'
template: index.jade
---

h2 vorläufige Tagesordnung

ul
	li Akkreditierung ab 9 Uhr
	li Beginn der Versammlung ab 10 Uhr
	li TOP 1: Begrüßung durch den Landesvorstand
	li TOP 2: Wahl der Versammlungsämter, Zulassung von Presse, Gästen, Ton- und Filmaufnahmen und evtl. Gastreden.
	li TOP 3: Beschluss der Tages- und Geschäftsordnung
	li TOP 4: Satzungsänderungsanträge den Landesvorstand betreffend
	li TOP 5: Tätigkeitsberichte des Landesvorstandes, Berichte der Rechnungsprüfer*innen und Entlastung des Landesvorstandes
	li TOP 6: Wahl des neuen Landesvorstandes
	li TOP 7: Wahl der Rechnungsprüfer*innen
	li TOP 8: Wahl des Landesschiedsgerichtes
	li TOP 9: Anträge an den Landesparteitag: Satzungsänderungsanträge, Programmanträge, Sonstige Anträge
	li TOP 10: Schließung des Landesparteitages
