title='Hauptseite'
template='index.jade'

h2 vorläufige Tagesordnung

h3 Samstag, 09.03.2013 - Aufstellungsversammlung

ul
	li Akkreditierung ab 9 Uhr
	li Beginn der Versammlung ab 10 Uhr
	li TOP 1 – Begrüßung, Formalia, Wahl der Versammlungsämter
	li TOP 2 – Beschluss und Änderungsanträge zur Tagesordnung
	li TOP 3 – Beschluss und Änderungsanträge zur Geschäftsordnung
	li TOP 4 – Aufruf zur Einreichung von Wahlvorschlägen
	li TOP 5 – Vorstellung der Bewerber und ihrer Programme
	li TOP 6 – Wahl der Landesliste
	li TOP 7 – Wahl einer Vertrauensperson und eines Stellvertreters
	li TOP 8 – Schluss der Versammlung zur Aufstellung der Landesliste (ca. 19.30 Uhr) bzw. Vertagung auf Sonntag.
	li Ggf. Fortsetzung der AV am 10.03.2013

h3 Sonntag, 10.03.2013 - Landesparteitag

ul
	li Akkreditierung ab 9 Uhr
	li Beginn der Versammlung ab 10 Uhr
	li TOP 1 Eröffnung
	li TOP 2 Wahl des Versammlungsleiters
	li TOP 3 Wahl des Protokollanten
	li TOP 4 Abstimmung über Geschäftsordnung und Wahlordnung
	li TOP 5 Abstimmung der Tagesordnung
	li TOP 6 Wahl des Wahlleiters / Bestimmung Wahlhelfer
	li TOP 7 Abstimmung Zulassung Gäste/Presse/Bilder/Streams
	li TOP 8 Programmanträge
	li TOP 9 Satzungsänderungsanträge
	li TOP 10 sonstige Anträge
	li ca. 20:00 Uhr Ende
