---
title: 'Hauptseite'
template: index.jade
---

h2 vorläufige Tagesordnung

ul
	li Akkreditierung ab 9 Uhr
	li Beginn der Versammlung ab 10 Uhr
	li TOP 1: Eröffnung durch den Landesvorstand
	li TOP 2: Wahl der Versammlungsämter, Zulassung von Presse, Gästen, Ton- und Filmaufnahmen und evtl. Gastreden.
	li TOP 3: Beschluss der Tages- und Geschäftsordnung
	li TOP 4: SÄA die Amtszeit des LaVos betreffend
		ul
			li falls keiner angenommen wird: weiter mit TOP 5.
			li falls einer davon angenommen wird: Abstimmung ob der LaVo neu gewählt werden soll.
				ul
					li falls positiv: weiter mit TOP 5.
					li falls negativ: weiter mit TOP 9 (die TOP 5, 7 und 8 entfallen).
	li TOP 5: Tätigkeitsberichte des Landesvorstandes, Berichte der Rechungsprüfer und Entlastung des Landesvorstandes (*)
	li TOP 6: Offene Diskussion über die Ausrichtung des Landesvorstandes bzw. Landesverbandes
	li TOP 7: Wahl des neuen Landesvorstandes (*)
	li TOP 8: Wahl der Rechnungsprüfer/in/nen (*)
	li TOP 9: Wahl des Landesschiedsgerichtes
	li TOP 10: Wahl des Finanzrates
	li TOP 11: Anträge an den Landesparteitag
	li TOP 12: Schließung des Landesparteitages

p (*) dieser TOP entfällt, falls sich die Versammlung entscheidet, keinen neuen Landesvorstand zu wählen.
