title='Hauptseite'
template='index.jade'

video.video-js.vjs-default-skin(controls, preload, poster='http://www.piraten-lsa.de/sites/default/files/trailer-avlsa.jpg', width='610', height='343')
	source(src='http://www.piraten-lsa.de/sites/default/files/trailer-avlsa.webm', type='video/webm')
	source(src='http://www.piraten-lsa.de/sites/default/files/trailer-avlsa.mp4', type='video/mp4')

p
	| Das Video ist auch auf 
	a(href='http://youtu.be/wior64TCZPw') Youtube
	|  verfügbar.

h3 Bilder:

ul
	li
		a(href='http://www.flickr.com/photos/gynti/3977975220/') "Junkers Ju-52"
		|  von gynti_46, 
		a(href='http://creativecommons.org/licenses/by-nc-sa/2.0/deed.de') CC BY-NC-SA 2.0
	li
		a(href='http://www.flickr.com/photos/steffireichert/4296618268/') "Muldbrücke"
		|  von URBAN ARTefakte, 
		a(href='http://creativecommons.org/licenses/by-nc-nd/2.0/deed.de') CC BY-NC-ND 2.0
	li
		a(href='http://madebyjingz.de/piraten-lpt-in-magdeburg/') "Dafür-Karten"
		|  von Jing Zhou, 
		a(href='http://creativecommons.org/licenses/by-nc-sa/2.0/deed.de') CC BY-NC-SA 2.0
	li
		a(href='http://www.flickr.com/photos/pinguts/6160325074/') "JA-Karten"
		|  von PinguTS, 
		a(href='http://creativecommons.org/licenses/by-nc-sa/2.0/deed.de') CC BY-NC-SA 2.0
	li
		| alle anderen Bilder von 
		a(href='https://twitter.com/turbotommi') @turbotommi
		| , 
		a(href='http://creativecommons.org/licenses/by-nc/2.0/deed.de') CC BY-NC 2.0

h3 Musik:

ul
	li
		a(href='http://www.johnvoss.de/music.html') John Voss - "A little bit free"
		| , 
		a(href='http://creativecommons.org/licenses/by-nc/2.0/deed.de') CC BY-NC

h3 Schnitt:

ul
	li
		a(href='https://twitter.com/turbotommi') @turbotommi
		| , 
		a(href='http://creativecommons.org/licenses/by-nc-sa/2.0/deed.de') CC BY-NC-SA 2.0
	li Musikalische Beratung: DschudMaik

