title='Verpflegung & Übernachtung'
template='index.jade'

img(src='schnittchen.jpg', class='floatr', alt='Schnittchen')

p Getr&auml;nke sind w&auml;hrend des Parteitages vor Ort direkt vom Hotel erh&auml;ltlich. Das Hotel kann bei Bedarf nach vorheriger Absprache im Restaurant ein Tellergericht zum Festpreis anbieten. Sammelbestellungen beim externen Lieferanten oder auch Eigenversorgung ist im Hotel ohne Probleme m&ouml;glich.

h2 &Uuml;bernachtung

ul
	li
		a(href='http://www.radissonblu.de/hotel-dessau') Radisson Blu Furst Leopold Hotel
		|  (ab 63,75 EUR)
	li
		a(href='http://dessau.djh-sachsen-anhalt.de') DJH Jugendherberge Dessau-Ro&szlig;lau
		|  (ab 19,00 EUR)
	li
		a(href='http://www.ibis.com/de/hotel-2639-ibis-budget-dessau-ost-ex-etap-hotel/index.shtml') ibis budget Dessau Ost (ex ETAP HOTEL)
		|  (ab 24,00 EUR)
