title='Verpflegung & Übernachtung'
template='index.jade'

img.floatr(src='images/schnittchen.jpg', alt='Schnittchen')

p Getr&auml;nke sind w&auml;hrend des Parteitages vor Ort direkt vom Hotel erh&auml;ltlich. Das Hotel bietet im Restaurant ein Tellergericht zum Festpreis an.
p Sammelbestellungen beim externen Lieferanten oder auch Eigenversorgung ist im Hotel ohne Probleme m&ouml;glich. Der Verzehr ist im Hotel (außer im Versammlungsraum) nicht gestattet.

h2 &Uuml;bernachtung

ul
	li
		a(href='http://www.radissonblu.de/hotel-dessau') Radisson Blu Furst Leopold Hotel
		|  (ab 80 EUR)
	li
		a(href='http://dessau.djh-sachsen-anhalt.de') DJH Jugendherberge Dessau-Ro&szlig;lau
		|  (ab 19 EUR)
	li
		a(href='http://www.ibis.com/de/hotel-2639-ibis-budget-dessau-ost-ex-etap-hotel/index.shtml') ibis budget Dessau Ost (ex ETAP HOTEL)
		|  (ab 29 EUR)
