!!! 5
html(lang='de')
	head
		meta(charset='utf-8')
		meta(name='author', content='@ubuciko, @HorayNarea, @ChristophLSA')
		meta(name='description', content='Microsite für Parteitage und Ähnliches - steht unter CC-BY-NC 3.0')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		title=locals.title

		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(rel='shortcut icon', href='images/logo.png')
		link(rel='apple-touch-icon', href='images/logo.png')

		script(type='text/javascript', src='js/jquery-1.7.2.min.js')
		script(type='text/javascript', src='js/lightbox.js')
		link(rel='stylesheet', type='text/css', href='css/lightbox.css')
	body
		div#wrapper
			div#header
				img(src='images/logo.png', class='logo', alt='Piratenpartei Logo')
				h1 #lptlsa
				p=locals.title
			ul.nav
				li: a(href='index.html') Hauptseite
				//li: a(href='infos.html') Informationen
				li: a(href='tagesordnung.html') Tagesordnung
				li: a(href='stream.html') Stream
				li: a(href='anfahrt.html') Ort &amp; Anreise
				li: a(href='verpflegung.html') Übernachtung &amp; Verpflegung
				//li: a(href='banner.html') Banner
				//li: a(href='presse.html') Presse
				li: a(href='impressum.html') Impressum
			div#content
				!= page.html
